<div class="footer py-3 mt-3">
    <div class="container">
        <span class="text-muted">
            &copy; 2022 - movieApp - <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
        </span>
    </div>
</div>